a {
	color: #373737;
	text-decoration: none;
	list-style-type: none;
	font-family: Geneva;
}

a:hover { 
    color: #CAEBF2;
}

header {
	text-align: center;
	margin: 10px 350px;
	padding: 25px;
}

#logo {
	position: absolute;
	top: 2%;
	right: 90%;
	width: 3%;
}

body {
	background: #F5F5F5;
}
