#logo {
	position: absolute;
	top: 2%;
	right: 90%;
	width: 3%;
}

#head1 {
	text-align: center;
}

a {
	color: #373737;
	text-decoration: none;
	list-style-type: none;
	font-family: Geneva;
}

a:hover { 
    color: #CAEBF2;
}

header {
	text-align: center;
	margin: 10px 350px;
	padding: 25px;
}

body {
    background: #F5F5F5;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

li {
	list-style-type: none;
	font-family: Helvetica;
}

p {
	text-align: center;
	font-size: 15px;
}

.wrapper {
    width: 100%;
    margin: 1.5em auto;
    padding-bottom: 20px;
}

.gallery {
    column-count: 4;
}

.item {
    display: inline-block;
    background: #E9E9E9;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}
