/* WEBSITE */
.top {
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #aaa;
  height: 300px;
  opacity: 1;
  text-align: center;
  font-family: 'helvetica';
  font-size: 80px;
  font-weight: 100;
  color: #fff;
}

.title {
  position: absolute;
  top: 60%;
  left: 100px;
}
html {
	font-family: 'Roboto', sans-serif;
}

body {
}

/* SLOGAN */

#graphic p {
	font-weight: 300;
	font-size: 15px;
}

#background{
	width: 100%;
}


/* LOGO */


#lt img {
	display: block;
    margin: auto;
    height: 5%;
	width: auto;
    margin-top: 5em;
} 

/* HEADER */

#header {
	text-align: center;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
}

#header li {
    display: inline;
}

li {
	padding: 55px;
	font-weight: 700;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

a:hover { 
	color: #34D1BF;
}

/* HOME PAGE */

#intro {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ABOUT ME */

#about-container{
	padding: 0 0 0 20% ;
	text-align: center;
	margin: auto;	
}


#about-container img{
	float: left;
	margin-right: 10px;
	clear:both;
	min-width: 250px;
	text-align: center;
	width: 20%;

}

.img-circle{
	padding: 50px;
	max-width: 250px;
    max-height: 250px;
}

#me{
	padding-top: 150px;
	padding-bottom: 120px;
}
#me p {
	overflow: auto;
	display:block;
	min-height: 300px;
	min-width: 150px;
	max-width: 600px;
	text-align: left;
	padding-left: 20px;
	line-height: 30px;
	font-weight: 300;
}

#me h1 {
	line-height: 15px;
	font-weight: normal;
}

#contactbox{
	padding-bottom: 50px;
	
}

#contactbox a{
	color: white;
	background-color: #FE5F55;
	padding: 15px;
}

a {
	text-decoration: none;
}
	
#img-circle {
    border-radius: 50%;
}

/* PROJECTS */

#work h1 {
	font-weight: normal;
}

#work {
	background-color: #F7F7F7;
	padding: 100px;
	text-align: center;
}

/* GALLERY */

.wrapper {
    width: 100%;
    margin: 1.5em auto;

}

.gallery {
    column-count: 4;
	display: block;		/* change to inline in smaller resolutions */
}

.item {
    display: inline-block;
    background: #E9E9E9;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
	min-width: 150px;
	max-width: 300px;
}

img {
  max-width: 100%;
  height: auto;
}

/* LIGHTBOX */
.gallery a{
	color:white;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
	min-width: 150px;
}

.lightbox:target {
	outline: none;
	display: block;
}

/* RESPONSIVENESS */

/* small screens */
@media screen and (min-width: 0px) and (max-width: 667px) {
	
	#background{display:none;}
	#header { display: none; } 
  
  .gallery {
	      column-count: 1;
	}

	#work{
		padding: 0;
		text-align: center;
		/* WIP */
	}

	.description{
		display:none;	/* Hide popup image in smaller screens */
	}
	
	h1 { 
	text-align: center;
	}
}


/* large screens */
@media screen and (min-width: 401px) and (max-width: 1024px) {
	#header { display: block; }  
}



