a {
	color: #373737;
	text-decoration: none;
	list-style-type: none;
	font-family: Geneva;
}

a:hover { 
    color: #F5F5F5;
}

header {
	text-align: center;
	margin: 10px 350px;
	padding: 25px;
}

body{
	background: #F5F5F5;
}

li {
	list-style-type: none;
	font-family: Helvetica;
	position: absolute;
}

p {
	text-align: center;
	font-size: 15px;
	font-family: Helvetica;
}

.selfie {
	position: absolute;
	float: left;
	left: 30%;
	top: 20%;
    display: inline-block;
    background: #e9e9e9;
    padding: 1em;
    margin: 0 0 1.5em;
    box-sizing: border-box;
    border-radius: 3px;
}

.content {
	font-size: 18px;
}

.boxed {
	position: absolute;
	width: 30em;
	top: 25%;
	left: 37%;
	line-height: 200%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5em;
  background-color: #f9f9f9;
  text-align: center;
  font-family: Helvetica;
}

#gmail {
	position: absolute;
	top: 59%;
	bottom: 50%;
	left: 50%;
	right: 60%;
}

#head1{
	text-align: center;
}

#logo {
	position: absolute;
	top: 2%;
	right: 90%;
	width: 3%;
}