/* General */
body {
	font-family: sans-serif;
	font-size: 1.1em;
	margin: 0.5em auto;
	min-width: 90%;
}
#logo {
	max-width: 45%;
	height: auto;
}

#button img {
	min-width: 20%;
	max-width: 30%;
	height: auto;
}

#pagediv {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#button img {
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#nav{
		display: none;	/* Hide navbar for larger resolutions */
	}
header {
	padding: 10px;
}

#columnleft {
	width: 40%;
	float: left;
	padding: 10px;
}
#columnmiddle {
	width: 25%;
	float: left;
	padding: 10px;
	margin: 0;
}

#columnright {
	width:25%;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 15px;
	border-top: solid 2px;
}


/* Responsiveness */

/* Large */
@media screen and (max-width: 1600px) {
	
	#pagediv {
		width: 94%;
	}
	#columnleft {
		width: 41%;
		padding: 1% 4%;
	}
	#columnmiddle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#columnright {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
		img{
		width:50%;
	}
	#nav{
		display: block;
	}
	
}

/* Medium */
@media screen and (max-width: 800px) {

	#columnleft {
		width: auto;
		float: none;
	}
	
	#columnmiddle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#columnright {
		width: auto;
		float: none;
	}
	img{
		width:50%;
	}
	#nav{
		display: block; 	/* Display navbar */
	}
	#soontext{
		color: #ffffff;	/* Hide Coming Soon Text */
	}
	
	 html { background: #C9CAD9; }
	}

}

/* Small */
@media screen and (max-width: 300px) {
	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#columnright {
		display: in-line; 
	}
	img{
		width:50%;
	}
	
		#nav{
		display: block; 	/* Display navbar */
	}
		#soontext{
		color: #ffffff; 	/* Hide Coming Soon Text */
	}
	
}

/* When in landscape */

@media all and (orientation:portrait) {
	body {
		background-color: #EBDCCB;
			}
		}



