h2 {
	font-family: Helvetica;
}

/* Navigation bar settings */
#navbar{
    padding: 10px;
	text-align: center; 
	background-color: #000;
}

/* Link button Styles */
#navbar a { 		
	font-size: 14px;
	font-family: sans-serif;
	background-color: #DDA6AE; 	/* Color of link buttons */
	color: #fff; 								/* Color of text */
    padding: 11px;
	text-decoration: none; 
	} 
 
#navbar a:hover { 
	background-color: #B76E78;		/* Color of hover background */
} 


/* Dropdown button Styles */
.dropbtn {
	font-size: 14px;
	font-family: sans-serif;
    background-color: #DDA6AE;		/*Color of dropdown button */
	color: #fff; 								/* Color of text */
    padding: 11px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #B76E78;		/* Color of hover background */
}

.dropdown-content {
    display: none;							/* Keeps dropdown hidden until hover */
    min-width: 160px;						/* Width of dropdown content */
    position: absolute;
}
	
/* Formatting */
.dropdown {
    display: inline-block;
}

.dropdown-content a, .dropdown:hover .dropdown-content  {
    display: block;							/* Dropdown content format */
}

h2 {
	text-align: center;
}



